{% load static %}
<!DOCTYPE html>
<html>
  <meta charset = 'utf-8'>
    <head>
      <title>Мой профиль</title>
      <link rel="stylesheet" href="{% static 'css/myprofile.css' %}">
    </head>
    <body>
        <header>
          <button onclick="location.href='{% url 'password_change' %}'">Сменить пароль</button>

          <a class="logocontainer" href="{% url 'profiles' %}"><img class="mainlogo" src='{% static "css/bg_mini.jpg" %}' ></a>

          <button onclick="location.href='{% url 'logout' %}?next=/'">Выйти из аккаунта</button>
        </header>
        <main>
        <div class="main_list">
          <form action="{% url 'createprofile' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="important">
                Ваш профиль
              </div>
                <div id="main_lvl_1">
                    
                    <img class="profilephoto" src={{davatar.url}} title="Аватар пользователя" alt="Аватар пользователя">
                    <label for="id_avatar">Фото:</label>
                    <input type="file" name="avatar" value="{{davatar}}" accept="image/*" id="id_avatar">

                    <table>
                    <tr>
                      <td class="column_long45"><label for="id_name">Имя:</label></td>
                      <td class="column_short10"></td>
                      <td class="column_long45"><label for="id_age">Возраст:</label></td>
                    </tr>
                  
                    <tr>
                      <td class="column_long45"><input type="text" value="{{dname}}" name="name" maxlength="50" required id="id_name" class="textbox"></td>
                      <td class="column_short10"></td>
                      <td class="column_long45"><input type="number" value="{{dage}}" name="age" required id="id_age" min='16' class="textbox"></td>
                    </tr>


                    <tr>
                      <td class="column_long45"><label for="id_gender">Пол:</label></td>
                      <td class="column_short10"></td>
                      <td class="column_long45"><label for="id_point_of_searching">Цель знакомства:</label></td>
                    </tr>

                    <tr>
                      <td class="column_long45"><select name="gender" id="id_gender">
                        <option {% if dgender == "Парень" %}selected{% endif %} value="Парень">Парень</option>
                        <option {% if dgender == "Девушка" %}selected{% endif %} value="Девушка">Девушка</option>
                      </select></td>
                      <td class="column_short10"></td>
                      <td class="column_long45"><select name="point_of_searching" id="id_point_of_searching">
                        <option {% if dpoint_of_searching == "Отношения" %}selected{% endif %} value="Отношения">Отношения</option>
                        <option {% if dpoint_of_searching == "Свидания" %}selected{% endif %} value="Свидания">Свидания</option>
                        <option {% if dpoint_of_searching == "Дружба" %}selected{% endif %} value="Дружба">Дружба</option>
                        <option {% if dpoint_of_searching == "Общение" %}selected{% endif %} value="Общение">Общение</option>
                      </select></td>
                    </tr>

                    <tr>
                      <td class="column_long45"><label for="id_city">Город:</label></td>
                      <td class="column_short10"></td>
                      <td class="column_long45"><label for="id_city">Ссылка на соцсеть:</label></td>
                    </tr>

                    <tr>
                      <td class="column_long45"><input type="text" name="city" value="{{dcity}}" maxlength="100" required id="id_city" class="textbox"></td>
                      <td class="column_short10"></td>
                      <td class="column_long45"><input type="text" name="social" value="{{dsocial}}" maxlength="50" required id="id_social" class="textbox"></td>
                    </tr>

                    <tr>
                      <td colspan=3 class="column_long100"><label for="id_description">О себе:</label></td>
                    </tr>
                    </table>
                    <div id="main_lvl_for_description">
                        <td colspan=3><textarea name="description" required  id="id_description">{{ddescription}}</textarea></td>
                        <input type="text" hidden name="user" value="{{username}}" maxlength="50" required id="id_social">
                    </div>
                    
                    <table>
                    <tr>
                      <td class="column_long45"><label for="id_minage">Искать от:</label></td>
                      <td class="column_short10"></td>
                      <td class="column_long45"><label for="id_maxage">Искать до:</label></td>
                    </tr>
                    
                    <tr>
                      <td class="column_long45"><input type="number" value="{{dminage}}" name="age_search_min" required id="id_age" min='16' max='100' step='1' value='50' class="textbox"></td>
                      <td class="column_short10"></td>
                      <td class="column_long45"><input type="number" value="{{dmaxage}}" name="age_search_max" required id="id_age" min='16' max='100' step='1' value='50' class="textbox"></td>
                    </tr>
                  </table>
                  </div>
                <button type='submit' class="important">Начать поиск</button>
        </form> 
      </div>
      </main>
    </body>
</html>