{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset = 'utf-8'>
		<title>Новая пара</title>
		<link rel="stylesheet" href="{% static 'css/newpair.css' %}" type="text/css">
	</head>
	<body>
	
		<header>
            <button onclick="location.href='{% url 'reactions' %}'">Назад</button>
				
			<a class="logocontainer" href="{% url 'profiles' %}"><img class="mainlogo" src='{% static "css/bg_mini.jpg" %}' ></a>

        <button onclick="location.href='{% url 'myprofile' %}'">Мой профиль</button>
        </header>
	
		<main>
			У вас новая пара!
			<img style="width: 192px; height: 192px;" src = "{{profile.avatar.url}}">
			{{profile.name}}<br>Начните общаться: <a href={{profile.social}}>{{profile.social}}</a>
		</main>
	</body>
</html>