{% load static %}
<!DOCTYPE HTML>
<html>
<meta charset = 'utf-8'>
	<head>
		<title>Новая пара</title>
		<link rel="stylesheet" href="{% static 'css/newpair.css' %}">
	</head>
	<body>
		<div class="main">
				<div id = "slogancontainer">
					<h2>У вас новая пара!</h2>
				</div>
				<div id = "logocontainer">
					<img class="mainlogo" src = "{{profile.avatar.url}}">
				</div>
				<div id="startcontainer">
				    <h1>
						<center>{{profile.name}}</center><br>Начните общаться: <a href={{profile.social}}>{{profile.social}}</a>
					</h1>
				</div>
			</div>
		</div>
	</body>
</html>