{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        <title>Анкеты пользователей</title>
    </head>
    <body style="font-size: 20px;">
        <button onclick="location.href='{% url 'profiles' %}'">Назад</button>
        <img src="{{profile.avatar.url}}" style="max-width: 30%;">
        <h3>{{profile.name}}</h3>
        <h5>{{profile.age}}</h5>
        <h6>{{profile.city}}</h6>
        <h6>{{profile.gender}}</h6>
        <h6>Цель знакомства: {{profile.point_of_searching}}</h6>
        <p>{{profile.description}}</p>
        
        {% if reply == 0 %}<button onclick="location.href='{% url 'like' profile.id %}'">Нравится</button>{% endif %}
        {% if reply == 1 %}<button onclick="location.href='{% url 'like_reply' profile.id %}'">Нравится (взаимно)</button>
        <button onclick="location.href='{% url 'dislike_reply' profile.id %}'">Не нравится</button>{% endif %}
        
    </body>
</html>