{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css">
        <title>Анкеты пользователей</title>
    </head>
    <body style="font-size: 20px;">
		<header>
            <button onclick="location.href='{% if reply == 0 %}{% url 'profiles' %}{% endif %}{% if reply == 1 %}{% url 'reactions' %}{% endif %}'">Назад</button>
				
			<a class="logocontainer" href="{% url 'profiles' %}"><img class="mainlogo" src='{% static "css/bg_mini.jpg" %}' ></a>

        <button onclick="location.href='{% url 'reactions' %}'">Мои лайки{% if unchecked_counter != 0 %}({{unchecked_counter}}){% endif %}</button>
        </header>
		<main>
            <div class="oneprofile">
                <img src="{{profile.avatar.url}}" style="max-width: 30%;">
                <div class="text">
                    <h3>{{profile.name}},
                    {{profile.age}},
                    {{profile.city}}</h3>
                    <h6>Цель знакомства: {{profile.point_of_searching}}</h6>
                    <p>{{profile.description}}</p>
                    <div class="buttons">
                        {% if reply == 0 and showsocial == 0 %}<button onclick="location.href='{% url 'like' profile.id %}'">❤</button>{% endif %}
                        {% if reply == 1 and showsocial == 0 %}<button onclick="location.href='{% url 'like_reply' profile.id %}'">❤</button>
                        <button onclick="location.href='{% url 'dislike_reply' profile.id %}'">✖</button>{% endif %}
                        {% if showsocial == 1 %}Для общения: <a href={{profile.social}}>{{profile.social}}</a> {% endif %}
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>