{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/reactions.css' %}" type="text/css">
        <link rel="icon" href="{% static 'css/favicon.ico' %}" type="image/x-icon">
        <title>Ваши лайки</title>
    </head>
    <body>
        <header>
            <button onclick="location.href='/searching/myprofile'">В профиль</button>
            <a class="logocontainer" href="{% url 'profiles' %}"><img class="mainlogo" src='{% static "css/bg_mini.jpg" %}' ></a>
            <button onclick="location.href='/searching'">Поиск анкет</button>
        </header>
        <main>
            <div class="main_list">
                <div class="important">Ожидают ответа</div>
                {% for profile in profile_list %}
                <div class="oneprofile" >
                    {% if profile.id in marked_profiles %}{% endif %}
                    <img src="{{profile.avatar.url}}" class="profilephoto">
                    <a href="{% url 'oneprofile' profile.id %}"><h3 class="profiletext">{{profile.name}}, {{profile.age}}, {{profile.city}}</h3></a>
                </div>
                {% endfor %}
                {% if profile_list_count == 0 %}
                <p class="waitmessage">Пока что здесь ничего нет, подождем пока кому-то понравится ваша анкета</p>
                {% endif %}
            </div>
        </main>
        <aside>
            <div class="main_list">
                <div class="important">Мэтч</div>
                {% for pair in pair_list %}
                <div class="oneprofile" >
                    {% if pair.id in marked_profiles %}{% endif %}
                    <img src="{{pair.avatar.url}}">
                    <a href="{% url 'oneprofile' pair.id %}"><h3>{{pair.name}}, {{pair.age}}, {{pair.city}}</h3></a>
                </div>
                {% endfor %}
                {% if pair_list_count == 0 %}
                <p class="waitmessage">Пока у вас нет пар, ставьте лайки, чтобы повысить шансы на мэтч!</p>
                {% endif %}
            </div>
        </aside>
    </body>
</html>

