<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Анкеты пользователей</title>
    </head>
    <body style="font-size: 20px;">
        {% for form in form_list %}
        <h3>{{form.name}}</h3>
        <h5>{{form.age}}</h5>
        <h6>{{form.city}}</h6>
        <img src="{{form.avatar}}">
        <h6>{{form.gender}}</h6>
        <h6>Ищу: {{form.searching_for}}</h6>
        <h6>Цель знакомства: {{form.point_of_searching}}</h6>
        <p>{{form.description}}</p>

        {% endfor %}
        
    </body>
</html>