{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/searching.css' %}" type="text/css">
        <title>Анкеты пользователей</title>
    </head>

    <body style="font-size: 20px;">
        <header>
            <button onclick="location.href='/searching/myprofile'">В профиль</button>

            <a class="logocontainer" href="{% url 'profiles' %}"><img class="mainlogo" src='{% static "css/bg_mini.jpg" %}' ></a>

            <button onclick="location.href='{% url 'reactions' %}'">Мои лайки</button>
        </header>
        <main>
            {% for profile in profile_list %}
            <div class="oneprofile" >
                <div class="profilephoto" >
                    <img src="{{profile.avatar.url}}">
                </div>
                <div class="profiletext" >
                    <a href="{% url 'oneprofile' profile.id %}"><h3>{{profile.name}}, {{profile.age}}, {{profile.city}}</h3></a>
                </div>
            </div>
            {% endfor %}
        </main>

    

    </body>
</html>