{% load static %}
<!DOCTYPE HTML>
<html>
<meta charset = 'utf-8'>
	<head>
		<title>Авторизация GL</title> 
		<link rel="stylesheet" href="{% static 'css/registration.css' %}">
		<link rel="icon" href="{% static 'css/favicon.ico' %}" type="image/x-icon">
	</head>
	<body>
	<form action="#" method="post">
        {% csrf_token %}
		<div id="main_list">
			<div class="important">Авторизация</div>
			<label for="username">Логин</label>
			<input type="text" name="username" id="username" placeholder="Логин (Login)" required>

			<label for="password">Пароль</label>
			<input type="password" name="password" id="password" placeholder="Пароль (password)" required>
			{{form.errors}}
			<div class="block">
				<button type="submit" class="important">Войти</button>
				<button type="button" onclick="location.href='{% url 'register' %}?next=/myprofile'" class="important">Зарегистрироваться</button>
			</div>
		</div>
	</form>
	</body>
</html>