{% load static %}
<!DOCTYPE HTML>
<html>
<meta charset = 'utf-8'>
	<head>
		<title>Смена пароля</title>
		<link rel="stylesheet" href="{% static 'css/registration.css' %}">
	</head>
	<body>
	<form method="post" action=".">
		{% csrf_token %}
		<div id="main_list">
			<div class="important">Смена пароля</div>
			<label for="username">Старый пароль</label>
			<input type="password" name="old_password" id="username" placeholder="Старый пароль (old password)" required>

			<label for="password1">Новый пароль</label>
			<input type="password" name="new_password1" id="password1" placeholder="Новый пароль (new password)" required>

			<label for="password2">Подтвердите пароль</label>
			<input type="password" name="new_password1" id="password2" placeholder="Подтвердите пароль (new password)" required>

			{{ form.errors }}
			<div class="block">
				<button type="submit" class="important">Применить</button>
			</div>
		</div>
	</form>
	</body>
</html>



