{% load static %}
<!DOCTYPE HTML>
<html>
<meta charset = 'utf-8'>
	<head>
		<title>Пароль изменен</title>
		<link rel="stylesheet" href="{% static 'css/registration.css' %}">
		<link rel="icon" href="{% static 'css/favicon.ico' %}" type="image/x-icon">
	</head>
	<body>
	<header>
		<button onclick="location.href='{% url 'myprofile' %}'">В профиль</button>

        <a class="logocontainer" href="{% url 'profiles' %}"><img class="mainlogo" src='{% static "css/bg_mini.jpg" %}' ></a>

		<button onclick="location.href='{% url 'logout' %}?next=/'">Выйти из аккаунта</button>
    </header>
	<div id="main_list">
        <div class="important">Смена пароля</div>
			<label style="margin: 100px; font-size: 50px; text-align: center;">Пароль успешно изменен</label>

			<div class="block">
				<button onclick="location.href='{% url 'myprofile' %}'" class="important">В профиль</button>
			</div>

    </div>
	</body>
</html>
