{% load static %}
<!DOCTYPE HTML>
<html>
<meta charset = 'utf-8'>
	<head>
		<title>Регистрация GL</title>
		<link rel="stylesheet" href="{% static 'css/registration.css' %}">
	</head>
	<body>
	<form method="post">
		{% csrf_token %}
		<div id="main_list">
			<div class="important">Регистрация</div>
			<label for="username">Логин</label>
			<input type="text" name="username" id="username" placeholder="Логин (Login)" required>

			<label for="password1">Пароль</label>
			<input type="password" name="password1" id="password1" placeholder="Пароль (password)" required>

			<label for="password2">Подтвердите пароль</label>
			<input type="password" name="password2" id="password2" placeholder="Подтвердите пароль (password)" required>

			<label for="Agreed">Нажимая галочку, Вы соглашаетесь с нашим пользовательским соглашением и подтверждаете, что понимаете политику конфиденциальности.</label>
			<input type="checkbox" name="Agreed" id="Agreed" required>
			<div id="error">
			{{ form.errors }}</div>

			<div class="block">
				<button type="submit" class="important">Зарегистрироваться</button>
				<button onclick="location.href='{% url 'login' %}?next=/searching/'" class="important">Войти</button>
			</div>
		</div>
	</form>
	</body>
</html>