{% load static %}
<!DOCTYPE HTML>
<html>
<meta charset = 'utf-8'>
	<head>
		<title>Регистрация Анкета</title>
		<link rel="stylesheet" href="{% static 'css/registration.css' %}">
	</head>
	<body>
	<form method="post">
		{% csrf_token %}
		<div class = "registration">
			<div class="registration1">
				<div class = "container_1">
					<h1>РЕГИСТРАЦИЯ</h1>
				</div>
				<div class="container_3">
					<div class="text">Логин</div>
					
						<input type="text" name="username" placeholder="Электронная почта (e-mail)" required/>
					
				</div>
				<div class="container_3">
					<div class="text">Электронная почта</div>
					
						<input type="text" name="email" placeholder="Электронная почта (e-mail)" required/>
					
				</div>
				<div class="container_3">
					<div class="text">Пароль</div>
					
						<input type="password" name="password1" placeholder="Пароль (password)" required/>
					
				</div>
                <div class="container_3">
					<div class="text">Подтвердите пароль</div>
					
						<input type="password" name="password2" placeholder="Пароль (password)" required/>
					
				</div>
				<div class="container_4">
					<input type="checkbox" id="Agreed" name="Agreed" value="Agreed" required>
					<label for="Agreed"><div class="text1">Нажимая галочку, Вы соглашаетесь с нашим пользовательским соглашением и подтверждаете, что понимаете политику конфиденциальности.</div></label>
				</div>
				<div class="container_3">
					<button type="submit">Зарегистрироваться</button>
				</div>
				
				<div class="container_3">
					<h5>Есть аккаунт?</h5>
					<button onclick="location.href='{% url 'login' %}?next=/searching'">Войти</button>
				</div>
			</div>
		</div>
		{{ form.errors }}
	</form>
	</body>
</html>