* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Forum-Regular";
}

body {
    display: block;
    background-image: url("darkhearts.jpg");
    background-size: 50%;
    font-family: "Forum-Regular";
    margin: 0px;
    font-size: 20px;
}

header {
    margin: 0px;
    width: 100%;
    display: flex;
    float: left;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #FFE5E6;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid #EFC3C5;
}

header button{
    font-size: 25px;
    width: 25%;
    font-family: "Forum-Regular";
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

header button:hover{
    background-color: rgba(0, 0, 0, 0)
}

.main_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    background-color: #FFE5E6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.important {
    text-align: center;
    font-size: 25px;
    width: 40%;
    height: 30px;
    line-height: 30px;
    background: #EFC3C5;
    border-radius: 20px;
    border: 2px solid #EFC3C5;
    margin-bottom: 20px;
}

main {
    display: flex;
    float: left;
    width: 56%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5.5%;
}

aside {
    display: flex;
    float: left;
    width: 36%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5.5%;
}

.oneprofile {
    display: flex;
    align-items: center;
    width: 85%;
    min-height: 80px;
    margin: auto;
    margin-bottom: 40px;
}

.oneprofile a {
    width: 100%;
    min-height: 80px;
    line-height: 80px;
    text-align: center;
    text-decoration:none;
    color: black;
}

.oneprofile img {
    height: 100px;
    border-radius: 20px;
    border: 5px solid #EFC3C5;
}

h3 {
    height: 80px;
    width: 90%;
    margin-left: 10%;
    background: #EFC3C5;
    border-radius: 20px;
    /* border-radius: 0 20px 20px 0; */
}

h3:hover {
    background: #e8babc;
}

.mainlogo{
    max-width: 100%;
    cursor: pointer;
}

.logocontainer{
    max-width: 6%;
    display: flex;
    justify-self: center;
}

@font-face {
    font-family: "Forum-Regular"; 
    src: url("Forum-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 