html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(Background_Hearts.jpg);
    background-size: 50%;
}

h1 {
    font-size: 4vh;
    font-family: COMIC SANS MS;
    text-align: center;
    font-style: oblique;
}

h2 {
    font-size: 70px;
    font-family: COMIC SANS MS;
    text-align: center;
    font-style: oblique;
}

.text {
    font-size: 2vh;
    font-family: comic sans ms;
    margin-left: 5vh;
    font-style: oblique;
}


.text1 {
    font-family: comic sans ms;
    font-size: 2vh;
    font-style: oblique;
}


.registration {
    display: grid;
    background: #F08080;
    width: 70vh;
    height: 70vh;
    border-radius: 5vh;
    border-style: outset;
    border-color: #d67272;
    border-width: 1vh;
}

.registration1 {
    display: grid;
    margin: auto;
    justify-content: center;
    align-items: center;
    background: #ffa8a8;
    width: 68vh;
    height: 68vh;
    border-radius: 5vh;
    border-width: 0.5vh;
    border-style: outset;
    border-color: #e87b7b;
}

.main {
    display: block;
    margin: auto;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    background: #ffa8a8;
    width: 70%;
    height: 70%;
    border-radius: 25px;
    border-style: outset;
    border-color: #e87b7b;
}

.container_1 {
    
    margin: auto;
    background: white;
    width: 55vh;
    border-radius: 3vh;
    border-color: #e87b7b;
    border-style: inset;
    border-width: 0.5vh;
}

.container_2 {
    background: white;
    margin: auto;
    width: 50vh;
    height: 7vh;
    border-radius: 3vh;
}

.container_3 {
    display: grid;
    margin: auto;
    width: 50vh;
}

.container_4 {
    display: flex;
    align-items: center;
    margin: auto;
    width: 50vh;
}

.container_5 {
    display: inline;
    margin: auto;
    vertical-align: center;
    width: 75%;
}

.container_6 {
    display: grid;
    margin: auto;
    vertical-align: center;
    align-items: center;
    width: 75%;
}

button {
    margin: auto;
    width: 20vh;
    height: 5vh;
    background-color: white;
    border-radius: 2vh;
    border-style: outset;
}

button2 {
    margin: auto;
    width: 50%;
    height: 300%;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    border-style: outset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: COMIC SANS MS;
    text-align: center;
    font-style: oblique;
}

button2:hover{
    background-color: #ededed;
}

button:hover {
    background-color: #ededed;
}

input.string {
    height: 5vh;
    border-radius: 2vh;
    border-style: outset;
    border-color: #d67272;
    border-width: 0.5vh;
    background: white;
    width: 50vh;
    text-align: center;
}

input.check {
    background: white;
    width: 5vh;
    height: 5vh;
    text-align: center;
    border-radius: 2vh;
    border-style: outset;
    border-color: #d67272;
    border-width: 0.5vh;
}

input::placeholder {
    font-size: 2vh;
}