html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(Background_Hearts.jpg);
    background-size: 25%;
}

h1 {
    font-size: 25px;
    font-family: COMIC SANS MS;
    text-align: center;
    font-style: oblique;
}

.text {
    font-family: comic sans ms;
    margin-left: 10%;
    font-style: oblique;
}


.text1 {
    font-family: comic sans ms;
    font-size: 15px;
    font-style: oblique;
}


.registration {
    display: grid;
    background: #F08080;
    width: 70vh;
    height: 70vh;
    border-radius: 25px;
    border-style: outset;
    border-color: #d67272;
}

.registration1 {
    display: grid;
    margin: auto;
    justify-content: center;
    align-items: center;
    background: #ffa8a8;
    width: 68vh;
    height: 68vh;
    border-radius: 25px;
    border-style: outset;
    border-color: #e87b7b;
}

.container_1 {
    
    margin: auto;
    background: white;
    width: 60vh;
    
    border-radius: 15px;
}

.container_2 {
    background: white;
    margin: auto;
    width: 50vh;
    height: 7vh;
    border-radius: 15px;
}

.container_3 {
    display: grid;
    margin: auto;
    width: 75%;
}

.container_4 {
    display: grid;
    margin: auto;
    width: 75%;
}

button {
    margin: auto;
    width: 20vh;
    height: 5vh;
    background-color: white;
    border-radius: 15px;
    border-style: outset;

}

input {
    height: 185%;
    border-radius: 15px;
    background: white;
    width: 98%;
    text-align: center;
}
