{% load static %}

<!DOCTYPE HTML>
<html>
<meta charset = 'utf-8'>
	<head>
		<title>Главная страница</title>
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
	</head>
	<body>
		<div class="main">
				<div id = "logocontainer">
					<img class="mainlogo" src='{% static "css/bg_main.jpg" %}' >
				</div>
				<div id = "slogancontainer">
					<h2>Добро пожаловать!</h2>
				</div>
				<div id="startcontainer">
					<button2 onclick="location.href='/searching/myprofile'">Начать знакомиться</button2>
				</div>
			</div>
		</div>
	</body>
</html>